body {
  background-color: powderblue;
}
h1 {
color: orange;
  font-size: 300%;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: dodgerblue;
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
}

p {
  font-family: courier;
  font-size: 160%;
  border: 2px pink;
  padding: 30px;
  margin: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: powderblue;
}

li a {
  display: block;
  color: navy;
  padding: 8px 16px;
  text-decoration: underline;
}

/* Change the link color on hover */
li a:hover {
  background-color: cornflowerblue;
  color: pink;
}

  /* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
  .button {
  background-color: palevioletred
  border: none;
  color: navy;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#rcorners {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.container {
  position: relative;
  width: 600px;
}
.image0 {
  width: 100%;
}
.imagetop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}

.container1 {
  position: relative;
  width: 600px;
}
.echidna0 {
  width: 100%;
}
.image2top {
  position: absolute;
  top: 36%;
  left: 74%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
}

.containerping {
  position: relative;
  width: 600px;
}
.pingaclass {
  width: 100%;
}
.pinguclass {
  position: absolute;
  top: 80%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.hatclass {
  position: absolute;
  top: 6%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.sealcontainer {
  position: relative;
  width: 600px;
}
.seal {
  width: 100%;
}
.photoseal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
}

.phototop {
  position: absolute;
  top: 25%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 490px;
}

.robbieclass {
position: absolute;
  top: -20%;
  left: 130%;
  width: 200px;
  height: 200px;

}

.sealclassphoto1 {
  position: absolute;
  top: 50%;
  left: 130%;
  transform: rotate(30deg);
  width: 130px;
  height: 130px;
}

.sealclassphoto2 {
  position: absolute;
  top: 0%;
  left: 100%;
  transform: rotate(-45deg);
  width: 130px;
  height: 130px;
}

.containerskunk {
  position: relative;
  width: 600px;
}
.skunkclass {
  width: 100%;
}

.tophatclass {
  position: absolute;
  top: 17%;
  left: 53%;
  transform: rotate(12deg);
  width: 220px;
  height: 220px;
}

.paw0class {
  position: absolute;
  top: 85%;
  left: 10%;
  transform: rotate(90deg);
  width: 100px;
  height: 100px;
}
.paw1class {
  position: absolute;
  top: 85%;
  left: 40%;
  transform: rotate(90deg);
  width: 100px;
  height: 100px;
}
.paw2class {
  position: absolute;
  top: 85%;
  left: 70%;
  transform: rotate(90deg);
  width: 100px;
  height: 100px;
}
.paw3class {
  position: absolute;
  top: 85%;
  left: 100%;
  transform: rotate(90deg);
  width: 100px;
  height: 100px;
}
.fartclass {
  position: absolute;
  top: 70%;
  left: 120%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
}
